<h1>Job Board</h1>

<%= form_tag job_searches_index_path, method: :get do %>
  <%= text_field_tag '[job_search][keywords]', nil, placeholder: 'search keywords' %>
  <%= submit_tag 'Find me a job!', id: 'submit_job_search' %>
<% end %>


<% if @jobs %>
  <hr>
  <% @jobs.results.each do |result| %>
    <h1>
      <%= link_to result.job_title, result.url %>
    </h1>
    <p>
      <%= result.company %>, 
      <span>
        <%= result.city %>
      </span>
    </p>
    <p><%= result.snippet %> </p>
  <% end %>
<% end %>
